<div class="flex flex-wrap justify-evenly">
  <a href="https://github.com/dolanmiu" target="_blank">
    <div class="bg-black p-4 text-white block m-8 transform hover:scale-110 hover:shadow-xl transition-all duration-200">
      <i class="fab fa-github fa-2x"></i>
    </div>
  </a>

  <a href="https://linkedin.com/in/dolan1" target="_blank">
    <div class="bg-black p-4 text-white block m-8 transform hover:scale-110 hover:shadow-xl transition-all duration-200">
      <i class="fab fa-linkedin-in fa-2x"></i>
    </div>
  </a>

  <a href="https://instagram.com/plantingtheegg" target="_blank">
    <div class="bg-black p-4 text-white block m-8 transform hover:scale-110 hover:shadow-xl transition-all duration-200">
      <i class="fab fa-instagram fa-2x"></i>
    </div>
  </a>

  <a href="https://medium.com/@dolanmiu" target="_blank">
    <div class="bg-black p-4 text-white block m-8 transform hover:scale-110 hover:shadow-xl transition-all duration-200">
      <i class="fab fa-medium-m fa-2x"></i>
    </div>
  </a>

  <a href="https://profile.codersrank.io/user/dolanmiu" target="_blank">
    <div class="bg-black p-4 text-white block m-8 transform hover:scale-110 hover:shadow-xl transition-all duration-200">
      <div class="w-8 h-8">
        <img src="assets/codersrank-logo.png" />
      </div>
    </div>
  </a>
</div>
